@font-face {
    font-family: "OpenSans";
    src: local("OpenSansRegular"), url("./fonts/Open-Sans/OpenSans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: local("OpenSansMedium"), url("./fonts/Open-Sans/OpenSans-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "OpenSans";
    src: local("OpenSansBold"), url("./fonts/Open-Sans/OpenSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "OpenSans";
    src: local("OpenSansSemiBold"), url("./fonts/Open-Sans/OpenSans-SemiBold.ttf");
    font-weight: 600;
}

body{
    background-color: #F3F7FA;
}